.pito__place-container {
  width: 100%;
  height: 100%;
}

.pito__place__control {
  font-size: 14px !important;
  cursor: pointer !important;

  &--is-focused {
    border-color: #86b7fe !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
  }
}

.pito__place__option {
  cursor: pointer !important;
}

.pito__place__option:hover,
.pito__place__option--is-focused {
  background-color: #f3f3f4 !important;
}

.pito__place__option--is-selected:hover,
.pito__place__option--is-selected {
  background-color: #fff0eb !important;
}

.pito__place__input-container {
  margin: 0;
}

.pito__place__value-container {
  padding: 0.625rem 0.75rem;
}

.pito__place__placeholder {
  font-size: 14px !important;
}

.pito__place__menu {
  z-index: 10000 !important;
  border-radius: 0 !important;
  border: none !important;
}

.pito__place__menu-notice {
  font-size: 14px !important;
  padding: 12px 12px !important;
}

.pito__place__menu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pito__place__control {
  font-size: 14px !important;
}

.pito__place__menu-notice,
.pito__place__placeholder {
  font-size: 16px !important;
}

.pito__place__option {
  padding: 8px 12px !important;
}

.pito__place__option > div {
  font-size: 14px !important;
  color: #000;
}

.pito__place__option > span {
  font-size: 13px !important;
  color: #3d3d3d;
}

.pito__place__option--is-selected:hover,
.pito__place__option--is-selected {
  background-color: #fff0eb !important;
}

.pito__place__option--is-selected:hover,
.pito__place__option--is-selected > div {
  color: #ee392a !important;
}

.pito__place__option--is-selected:hover,
.pito__place__option--is-selected > span {
  color: #ee392a !important;
}

.form-vat-place,
.form-header-place,
.form-previeworder-place,
.form-dathang-place {
  flex: 1;
  max-height: 40px !important;
  height: 100% !important;

  .pito__place__input-container,
  .pito__place__value-container,
  .pito__place-container,
  .pito__place__control {
    height: 100% !important;
    max-height: 40px !important;
    border: none !important;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none !important;
  }
}

.form-header-place,
.form-dathang-place {
  .pito__place__control {
    border-radius: 8px;
    border: 1px solid #595959 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.form-vat-place,
.form-thanhtoan-place,
.form-previeworder-place {
  .pito__place__control {
    font-size: 16px !important;
  }
  .pito__place__control {
    border-radius: 8px;
    border: 1px solid #d9d9d9 !important;
  }
}

.form-thanhtoan-place {
  height: 64px;
  .pito__place__value-container,
  .pito__place-container,
  .pito__place__control {
    height: 64px !important;
  }
  .pito__place__value-container {
    align-items: flex-start;
  }
  .pito__place__single-value {
    color: black;
    white-space: pre-wrap;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  input {
    height: auto !important;
  }
}

.form-taikhoan-place {
  flex: 1;
  height: 50px !important;

  .pito__place__input-container,
  .pito__place__value-container,
  .pito__place-container,
  .pito__place__control {
    height: 50px !important;
    border: none !important;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none !important;
  }

  .pito__place__control {
    font-size: 16px !important;
  }
  .pito__place__control {
    border-radius: 4px;
    border: 1px solid #d9d9d9 !important;
  }
  .pito__place__single-value {
    font-size: 16px;
    color: #000;
    font-weight: bold;
  }
}

.form-vat-place {
  .pito__place__single-value {
    color: #212529;
    font-size: 14px;
  }

  .pito__place__menu {
    text-align: left;
  }
}
