.mediaBox {
  position: relative;

  .buttonBox {
    padding: 0;
    border: none;
    background: none;

    i {
      font-size: 18px;

      &.fa-pencil-ruler {
        font-size: 11px;
      }
    }
  }
}

.uploadVideo {
  position: relative;
  .duration {
    position: absolute;
    bottom: 26px;
    width: 80px;
    left: 0;
    background-color: rgba(160, 159, 159, 0.7);
    color: #fff;
    padding-right: 4px;
    text-align: right;
    &.hide {
      display: none;
    }
  }
}
